certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cryptography==35.0.0
Flask==2.0.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
msal==1.16.0
Office365-REST-Python-Client==2.3.9
pycparser==2.21
PyJWT==2.3.0
requests==2.26.0
urllib3==1.26.7
Werkzeug==2.0.2
